.element {
  width: calc((10 / 50) * var(--item-size));
  height: calc((10 / 50) * var(--item-size));
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;

  :global(.destiny1) & {
    width: calc((10 / 50) * var(--item-size));
    height: calc((10 / 50) * var(--item-size));
  }
}
